@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Root */

:root {
    --darkest: #015249;
    --dark: #57bc90;
    --light: #77c9d4;
    --lightest: #a5a5af;
    --white: #f2f2f2;
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Source Sans Pro", sans-serif;
}

body {
    margin: 0px;
}

/* Typography */

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--darkest);
}

p,
label,
div {
    font-family: var(--secondary-font);
}

/* Navbar */
header {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

.header1 {
    display: flex;
}

.header1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 48px;
    width: auto;
}

#nav-anonymous-user {
    display: flex;
    gap: 24px;
}

#nav-authenticated-user {
    display: flex;
    gap: 24px;
}

/* footer */
footer {
    display: block;
    background-color: var(--light);
    color: var(--darkest);
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 15px;
    padding: 12px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

footer span {
    font-size: 12px;
}

section {
    margin-right: 30px;
    margin-left: 30px;
}
