header {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style-type: none;
}

.header1 {
    display: flex;
}

.header1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon { 
    height: 48px;
    width: auto;
}

#nav-anonymous-user {
    display: flex;
    gap: 24px;
}

#nav-authenticated-user {
    display: flex;
    gap: 24px;
}